.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #fff;
    border-bottom: 1px solid #ddd;
}

.logo {
    font-size: 24px;
    font-weight: bold;
}

.search input {
    padding: 8px;
    border: 1px solid #ddd;
    border-radius: 4px;
    width: 350px;
}

.icons {
    display: flex;
    gap: 20px;
}

.icon {
    font-size: 20px;
    cursor: pointer;
}

/* Add hover effect to BurgerMenu */
.burgerIcon {
    transition: transform 0.3s ease;
}
  
.burgerIcon:hover {
    transform: scale(1.5);
}
  
/* Dropdown menu */
.dropdown {
    position: absolute;
    top: 30px; /* Position it below the burger icon */
    right: 0;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 150px;
    z-index: 10;
}
  
.dropdown ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}
  
.dropdown li {
    padding: 10px;
    cursor: pointer;
}
  
.dropdown li:hover {
    background-color: #f1f1f1;
}